Variable Declaration

Earlier we printed the `"Hello, world!"` string to the console.\
After it was printed we couldn't reuse that string,\
unless we retyped it all out from scratch, as shown below:

In [1]:
print("Hello, world!")
print("Hello, world!")

Hello, world!
Hello, world!

But what if we wanted to use that string multiple times in our code?\
This is where variables come in. With the following code, we can store
the string in a variable and print it multiple times:

In [3]:
message = "Hello, world!"
print(message)
print(message)

Hello, world!
Hello, world!

In [1]:
message2 = 'Python'

In [4]:
message2

'Python'

In [3]:
print(message2)

Python

Notice that we don't have double quotes around `message`.\
If we did, Python would think we're trying to print the string `"message"`\
instead of the value stored in the variable message.

Variable Naming

Previously we named our string variable `message`. The name of a variable\
is how we can refer to it in our code. This means we can't have two different\
variables with the same name.

If we wanted a variable to store the capital of the United Kingdom, we could name it `capital_of_uk`.\
This is a good name because it is descriptive and easy to understand.

In [4]:
capital_of_uk = "London"
print(capital_of_uk)

London

In [9]:
message_given = 'message'

There are some strict rules for naming variables,\
if you break any of these rules it will cause an error:

- Variable names can only contain letters, numbers, and underscores.
- Variable names can't start with a number.
- Variable names can't contain spaces.
- Variable names can't be the same as Python keywords like `for`, `if`, (we will learn more about these later).

The names we give our variables are important. They should be\
descriptive and easy to understand. This makes our code easier\
to read and maintain. In large code bases, you may easily forget\
what a variable does if it has a poor name.

This sounds easy to do, but in practice giving variables good names\
can be difficult. It's a skill that comes with practice.

Reassigning Variables

We mentioned earlier that two variables can not\
have the same name. So what do you think the following code will do?

In [10]:
message = "The first message"
print(message)
message = "The second message"
print(message)

The first message
The second message

This is because variables can change their value.\
This is called reassigning a variable. `message` was\
first assigned the value `"The first message"`, but\
then it was reassigned the value `"The second message"`.

If we had reordered the statements like this:

In [6]:
message = "The first message"
print(message)
message = "The second message"

The first message

Multiple Assignments

Python allows you to assign multiple variables\
in a single line. Just separate the variables\
with a comma, and the right-hand side values with a comma as well.

In [7]:
msg1, msg2 = "Hello", "World"

is equivalent to:

In [8]:
msg1 = "Hello"
msg2 = "World"

This example shows two variables being assigned values in one line,\
but we can assign more than two if we want.

We can also use this to swap the values of variables:

In [18]:
msg1, msg2 = "Hello", "World" # msg1 = "Hello", msg2 = "World"

In [19]:
print("msg1 is:",msg1)
print("msg2 is:",msg2)

msg1 is: Hello
msg2 is: World

In [16]:
msg1, msg2 = msg2, msg1       # msg1 = "World", msg2 = "Hello"

In [20]:
temp=msg1
msg1=msg2
msg2=temp

In [17]:
print("msg1 is:",msg1)
print("msg2 is:",msg2)

msg1 is: Hello
msg2 is: World

Variable Types

So far we've only learned about strings. But variables\
in Python can hold different types of data, such as `integers`, \
`decimal numbers` (aka `floating-point` numbers), `strings`, `booleans`,\
`lists`, and more. You will learn more about these later.

In [21]:
age = 25             # integer
temperature = 98.6   # floating-point number
is_true = True       # boolean
name = "Alice"       # string
my_list = [1, 2, 3]  # list

To briefly explain the code above:

- A variable is an `integer` type when it holds a whole number value.
- A variable is a `floating-point number` type when it holds a decimal number value.
- A variable is a `boolean` type when it holds a True or False value.
- A variable is a `string` type when it holds a sequence of characters, inside quotes.
- A variable is a `list` type when it holds a collection of comma separated values, inside square brackets.

We can print the type of a variable or value using the `type()` function in Python. For example:

In [24]:
type(is_true)

bool

In [11]:
print(type(10))

<class 'int'>

Dynamic Typing

In Python a single variable's type can change throughout the code.\
This is called dynamic typing. For example, the following code will run without any errors:

In [12]:
variable = 10         # int type
variable = "Hello"    # str type
variable = [1, 2, 3]  # list type

Type Casting

A variable in Python can be converted to a different
type using `type casting`.\
For example, the following code will run without any errors:

In [25]:
variable = 10.9
print(int(variable))

10

In [26]:
print(type(variable))

<class 'float'>

In [28]:
type(int(variable))

int

The variable variable is a `floating-point` number.\
The `int()` function converts it to an integer.\
The output is the integer part of the `floating-point number`,\
aka rounding the number down.

Type Errors

Even though variable types can change, there are still\
rules about what types of variables can be used together.\
For example, the following code will cause an error:

In [14]:
message = "Hello"
message = int(message)

ValueError: invalid literal for int() with base 10: 'Hello'

In [31]:
num = '2'

In [32]:
type(int(num))

int

In [30]:
type(num)

str

Empty Variable

If we want to declare a variable without a value,\
we can use the `None` keyword. This is used to indicate\
that the variable has no value.

If we try to declare a variable without explicity assigning a value to it, we will get an error.

In [15]:
var

NameError: name 'var' is not defined

However, if we assign the variable to `None`, we can declare the variable without a value.

In [16]:
var = None

In [38]:
weight_new=None

In [39]:
weight_new

In [40]:
print(None)

None