**Q1 Empty Neighborhoods**
We’re given two tables, a users table with demographic information and the neighborhood they live in and a neighborhoods table.

Write a query that returns all neighborhoods that have 0 users.

In [1]:
import pandas as pd

users = pd.read_csv('data/users.csv')
neighborhoods = pd.read_csv('data/neighborhoods.csv')

**Q2** Given a table of bank transactions with columns id, transaction_value, and created_at representing the date and time for each transaction, write a query to get the last transaction for each day.

The output should include the id of the transaction, datetime of the transaction, and the transaction amount. Order the transactions by datetime.

Example:

Input:

bank_transactions table

| Column      | Type |
| ----------- | ----------- |
| id      | INTEGER       |
| created_at   | DATETIME      |
|transaction_value|FLOAT|


Output:

| Column      | Type |
| ----------- | ----------- |
| created_at   | DATETIME      |
|transaction_value|FLOAT|
| id      | INTEGER       |

In [9]:
import pandas as pd

bank_transactions = pd.read_csv('data/bank_transactions.csv')

**Q3** Given three tables, representing customer transactions and customer attributes:

Write a query to get the average order value by gender.

Note: We’re looking at the average order value by users that have ever placed an order. Additionally, please round your answer to two decimal places.

Example:

Input:

transactions table

| Column      | Type |
| ----------- | ----------- |
| id      | INTEGER       |
|user_id|INTEGER|
| created_at   | DATETIME   |
|product_id|INTEGER|
|quantity|INTEGER|


users2 table

| Column      | Type |
| ----------- | ----------- |
| id      | INTEGER       |
|name|VARCHAR|
|sex|VARCHAR|

products table

| Column      | Type |
| ----------- | ----------- |
| id      | INTEGER       |
|name|VARCHAR|
|price|FLOAT|

Output:

| Column      | Type |
| ----------- | ----------- |
|sex|VARCHAR|
|aov|FLOAT|

In [27]:
import pandas as pd

transactions = pd.read_csv('data/transactions.csv')
users2 = pd.read_csv('data/users2.csv')
products = pd.read_csv('data/products.csv')

**Q4** Assign the median price to missing price values

In [43]:
import pandas as pd
import numpy as np

cheeses = {"Name": ["Bohemian Goat", "Central Coast Bleu",\
                    "Cowgirl Mozzarella", "Cypress Grove Cheddar",\
                    "Oakdale Colby"], "Price" : [15.00, None, 30.00, None, 45.00]}

                    Name  Price
0          Bohemian Goat   15.0
1     Central Coast Bleu    NaN
2     Cowgirl Mozzarella   30.0
3  Cypress Grove Cheddar    NaN
4          Oakdale Colby   45.0

**Q5: Acceptance Rate**: We’re given two tables. friend_requests holds all the friend requests made and friend_accepts is all of the acceptances.

Write a query to find the overall acceptance rate of friend requests. Note: Round results to 4 decimal places.

Example:

Input:

friend_requests table

| Column      | Type |
| ----------- | ----------- |
| requester_id|INTEGER|
|requested_id|INTEGER|
|created_at|DATETIME|


friend_accepts table

| Column      | Type |
| ----------- | ----------- |
| acceptor_id|INTEGER|
|requester_id|INTEGER|
|created_at|DATETIME|


Output:

| Column      | Type |
| ----------- | ----------- |
| acceptance_rate   | FLOAT     |

In [45]:
friend_accepts = {"acceptor_id":[75, 54, 43],  "requester_id": [2,1,5], 
                   "created_at":["2020-09-24 00:00:00",\
                                 "2020-09-25 00:00:00","2020-09-27 00:00:00"]}

friend_requests={"requester_id":[1,2,3,4,5], 
                "requested_id":[54,75,35,24,43],
                "created_at":["2020-09-23 00:00:00",\
                              "2020-09-24 00:00:00","2020-09-24 00:00:00",
                              "2020-09-25 00:00:00","2020-09-26 00:00:00"]}

**Q6: Employee Salaries**

Let’s say we have a table representing a company payroll schema.

Due to an ETL error, the employees table instead of updating the salaries every year when doing compensation adjustments, did an insert instead. The head of HR still needs the current salary of each employee.

Bonus: Write a query to get the current salary for each employee.

Note: Assume no duplicate combination of first and last names. (I.E. No two John Smiths)

Example:

Input:

employees table

|Column|Type|
|------|-------|
|id|VARCHAR|
|first_name|VARCHAR|
|last_name|VARCHAR|
|salary|INTEGER|
|department_id|INTEGER|

Output:

|Column|Types|
|------|------|
|first_name|VARCHAR|
|last_name|VARCHAR|
|salary|INTEGER|

In [30]:
import pandas as pd
employees=pd.read_csv("data/employees.csv", index_col='d')

**Q7: Good Grades and Favorite Colors**
You’re given a dataframe of students named students_df:

students_df table

|name|age|favorite_color|grade|
|----|---|----------|-------|
|Tim Voss|19|red91|
|Nicole Johnson|20|yellow|95|
|Elsa Williams|21|green|82|
|John James|20|blue|75|
|Catherine Jones|23|green|93|

Write a function named grades_colors to select only the rows where the student’s favorite color is green or red and their grade is above 90.

In [60]:
students_df=pd.read_csv("data/students.csv")
students_df

              name  age favorite_color  grade
0         Tim Voss   19            red     91
1   Nicole Johnson   20         yellow     95
2    Elsa Williams   21          green     82
3       John James   20           blue     75
4  Catherine Jones   23          green     93

**Q8: Rain on Rainy Days**
You’re given a dataframe df_rain containing rainfall data. The dataframe has two columns: day of the week and rainfall in inches.

Write a function median_rainfall to find the median amount of rainfall for the days on which it rained.

Note: You may assume it rained on at least one of the days.

In [69]:
import pandas as pd
df_rain = pd.DataFrame({"Day":["Monday", "Tuesday", "Wednesday",\
                               "Thursday", "Friday"],"Inches":[6,0,2,3,5]})

4.0

**Q9: First Name Only**
You’re given a dataframe containing a list of user IDs and their full names (e.g. ‘James Emerson’).

Transform this dataframe into a dataframe that contains the user ids and only the first name of each user.

In [70]:
import pandas as pd

users_df=pd.DataFrame({"user_id": [1034, 9430, 7281, 5264, 8995],
                       "name": ["James Emerson","Fiona Woodward",\
                                "Alvin Gross","Deborah Handler","Leah Xue"]})

**Q10 Second Highest Salary**
Write a  query to select the 2nd highest salary in the engineering department. If more than one person shares the highest salary, the query should select the next highest salary.

Example:

Input:

employees table

|Column|Type|
|------|-----|
|id|INTEGER|
|first_name|VARCHAR|
|last_name|VARCHAR|
|salary|INTEGER|
|department_id|INTEGER|

departments table

|Column|Type|
|-----|-----|
|id|INTEGER|
|name|VARCHAR|

Output:

|Column|Type|
|------|----|
|salary|INTEGER|

In [77]:
import pandas as pd
departments = pd.DataFrame({"id":[1,2,3,4],\
                            "name":["engineering", "marketing", "sales", "hr"]})
employees = pd.read_csv("data/employees2.csv")