**Q1** A farmer is asking you to tell him how many legs can be counted among all his animals.

The farmer breeds three species:

chickens = 2 legs
cows = 4 legs
pigs = 4 legs

The farmer has counted his animals and he gives you a subtotal for each species.\
You have to implement a function that returns the total number of legs of all the animals.

Examples

animals(2, 3, 5) ➞ 36

animals(1, 2, 3) ➞ 22

animals(5, 2, 8) ➞ 50
Notes

Don't forget to return the result.\
The order of animals passed is animals(chickens, cows, pigs).\
Remember that the farmer wants to know the total number of legs\
and not the total number of animals.

**Q2** Write two functions:

to_int() : A function to convert a string to an integer.\
to_str() : A function to convert an integer to a string.\

Examples

to_int("77") ➞ 77

to_int("532") ➞ 532

to_str(77) ➞ "77"

to_str(532) ➞ "532"

Notes

Don't forget to return the result.\
If you get stuck on a challenge, find help in the Resources tab.\

**Q3** There is a single operator in Python, capable of\
providing the remainder of a division operation. Two numbers\
are passed as parameters. The first parameter divided by\
the second parameter will have a remainder, possibly zero.\
Return that value.

Examples

remainder(1, 3) ➞ 1

remainder(3, 4) ➞ 3

remainder(5, 5) ➞ 0

remainder(7, 2) ➞ 1

Notes

The tests only use positive integers.\
Don't forget to return the result.

**Q4** Create a function that takes a number as its only argument\
and returns True if it's less than or equal to zero, otherwise return False.

Examples

less_than_or_equal_to_zero(5) ➞ False

less_than_or_equal_to_zero(0) ➞ True

less_than_or_equal_to_zero(-2) ➞ True

Notes

Don't forget to return the result.\
If you get stuck on a challenge, find help in the Resources tab.

**Q5** Create a function that returns True when num1 is equal to num2;\
otherwise return False.

Examples

is_same_num(4, 8) ➞ False

is_same_num(2, 2) ➞  True

is_same_num(2, "2") ➞ False
Notes

Don't forget to return the result.

**Q6** Create a function that takes two arguments:\
the original price and the discount percentage as\
integers and returns the final price after the discount.


Examples

dis(1500, 50) ➞ 750

dis(89, 20) ➞ 71.2

dis(100, 75) ➞ 25

**Q7** Given a number, return a list containing the\
two halves of the number. If the number is odd,\
make the rightmost number higher.

Examples

number_split(4) ➞ [2, 2]

number_split(10) ➞ [5, 5]

number_split(11) ➞ [5, 6]

number_split(-9) ➞ [-5, -4]

Notes

All numbers will be integers.\
You can expect negative numbers too.

**Q8** Write a function that calculates the factorial of a number recursively.

Examples

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

**Q9** Create a function that takes a country's name and\
its area as arguments and returns the area of the country's\
proportion of the total world's landmass.

Examples

area_of_country("Russia", 17098242) ➞\
"Russia is 11.48% of the total world's landmass"

area_of_country("USA", 9372610),\
"USA is 6.29% of the total world's landmass"

area_of_country("Iran", 1648195) ➞\
"Iran is 1.11% of the total world's landmass"
Notes

The total world's landmass is 148,940,000 [Km^2]\
Round the result to two decimal places.

**Q10** Write a function that takes coordinates of two points\
on a two-dimensional plane and returns the length of\
the line segment connecting those two points.

Examples

line_length([15, 7], [22, 11]) ➞ 8.06

line_length([0, 0], [0, 0]) ➞ 0

line_length([0, 0], [1, 1]) ➞ 1.41

Notes

The order of the given numbers is X, Y.\
This challenge is easier than it looks.\
Round your result to two decimal places.

**Q11** Write a program that asks the user to enter two numbers\
(you’ll probably want to use separate `input` statements for that).\
Then print out the result of adding those two numbers.